header{
    background-color: antiquewhite;
    padding: 20px 0;
}
.menu{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: medium;
    
}